.main-div {
    margin: 10px;
    width: 250px;
    height: 400px;
    box-shadow: 2px 2px 10px black;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: white ;
    background-color: #3d348b;
    display: inline-block;
    cursor: pointer;
}

/* .main-div :hover {
    /* margin: 30%;
    background-color: black;
    align-self: center;
} */
    /* background-color: #6deccc;
    -ms-zoom-animation: default;
} */ 

img {
    border: 30x;
    border-color: aqua;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: auto;
    /* padding: 10px; */
}

/* img:hover{
    
} */

.main-div:hover{
    background-color: aqua;
    color: black;
    
}


/* div {
    margin: auto; */
    /* align-items: center;
} */
/*  */