* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* margin: none; */
    background-color: hsl(0, 1%, 24%);
}
header {
    background-color: hsl(0, 1%, 24%);
    margin: none;
    width: 100%;
    padding: 20px 0px 0px 40px;

}
header div img{
    width: 200px;

}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: large;
    /* flex-direction: row;
     */


}

.navbar {
    background-color:  hsl(0, 3%, 30%);
    padding: 10px;
    margin: 10px 0px;
}
.search-box button img{
    width: 20px;
    height: 20px;
    color: white;

}

.search-box button{
    background-color: transparent;
    border: none;
    margin: none;
    padding: none;
    cursor: pointer;
}

.search-box input{
    padding: 2px;
    margin: none;
    border: none;
}

/* .search-box input:hover{
    border: 2px solid red;
    marker: none;
} */
/* .search-box {
    display: inline;

} */
.main-categories {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.main-categories button{
    border: none;
    background-color: aqua;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    /* gap: 2px; */
}
.join-telegram{
    display: flex;
    justify-content: space-around;

}

.join-telegram button{
    border: none;
    width: 100%;
    padding: 10px;
    background-color: #009de1;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
/* } */

.main-geners ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;   

}
.main-geners ul li button{
    text-align: center;
    padding: 10px;
    border: none;
    background-color: hsl(0, 3%, 30%) ;
    color: white;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
}


.movies-grid img{
    width: 80%;
    height: 80%;
}
/* .movie {
    padding:10px;
} */
.movies-grid .movie:hover{
    transform: scale(1.1);
    background-color: white;
    color: #131414;
}
.movies-grid {
    display: grid;
    background-color:  hsl(0, 0%, 15%) ;
    margin: auto;
    width: 80%;
    grid-template-columns: auto auto auto auto ;
    column-gap: 10px;
    row-gap: 10px;
    border-radius: 10px;
    }

.movies-grid .movie {
    background-color: #131414;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding-top: 20px;
    /* margin: 10px; */
    /* opacity: .9; */
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer div {
    text-align: center;
    color: white;
    margin: 5px;
}